@font-face {
    font-family: 'Georama';
    src: url('~@/assets/fonts/Georama-Light.woff2') format('woff2'),
        url('~@/assets/fonts/Georama-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Georama';
  src: url('~@/assets/fonts/Georama-Regular.woff2') format('woff2'),
      url('~@/assets/fonts/Georama-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Georama';
  src: url('~@/assets/fonts/Georama-Medium.woff2') format('woff2'),
      url('~@/assets/fonts/Georama-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Georama';
  src: url('~@/assets/fonts/Georama-SemiBold.woff2') format('woff2'),
      url('~@/assets/fonts/Georama-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Georama';
  src: url('~@/assets/fonts/Georama-Bold.woff2') format('woff2'),
      url('~@/assets/fonts/Georama-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Georama';
  src: url('~@/assets/fonts/Georama-ExtraBold.woff2') format('woff2'),
      url('~@/assets/fonts/Georama-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Georama';
  src: url('~@/assets/fonts/Georama-Black.woff2') format('woff2'),
      url('~@/assets/fonts/Georama-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}