$primary-color: #3355FF;
$primary-hover-color: #4D6AFF;
$primary-active-color: #6680FF;
$primary-disabled-color: #E0E0E0;

$background-color: #000933;

$nav-color: transparent;
$nav-hover-color: #001A99;
$nav-active-color: #0022CC;

$secondary-color: transparent;
$secondary-hover-color: #5C5C5C;
$secondary-active-color: #858585;
$secondary-disabled-color: transparent;

$grey-light-color: #C2C2C2;
$grey-heavy-color: #3D3D3D;

$border-color: #FFFFFF;
$border-hover-color: #E0E0E0;
$border-active-color: #C2C2C2;
$border-disabled-color: #A3A3A3;

$text-color: #FFFFFF;
$text-placeholder-color: #A3A3A3;
$text-disabled-color: #858585;

$white: #FFFFFF;
$black: #000000;

$success-color: #66FFA6;
$warn-color: #FFE566;
$error-color: #FF7366;

$logo-shadow-color: #99AAFF;
